body {
  width: 100vw;
  height: 100vh;
}

div.row {
  margin: 0px;
}

#chat-list-column {
  padding-top: 15px;
  padding-bottom: 15px;
}

#chat-window-column {
  height: 100%;
}

.cwc {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card.col {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert {
  margin-bottom: 0px !important;
}